<div class="text-center">
  <h2>{{blog_name}}</h2>
  <p>{{blog_body}}</p>
  <p>Created by {{user.name}} on {{format_date createdAt}}</p>
</div>

<div class="text-center" data-type="comment-div">
  <h3>Comments</h3>
  <hr>
  <form class="form new-comment-form">
    <div class="form-group">
      <label for="comment">Leave a comment:</label>
      <input class="form-input" type="text" id="comment" name="comment" />
    </div>
    <div class="form-group">
      <button type="submit" id="commentBtn" data-id="{{id}}" class="btn btn-primary">Comment</button>
    </div>
  </form>

  {{#each comments as |comment|}}
  {{> loadComment comment}}
  {{/each}}
</div>

<script src="/js/comment.js"></script>